drafts
*.asv
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
plot_digitizing/
Remy/
chemistry/Drafts/
Josue/
*.zip
examples/plot_digitizing_comparison/
reports/
article_images/
PRe_presentation_MathildeDutreuilh.pdf
PRe_report_MathildeDutreuilh.pdf